name: "Test Pyodide Semantic Workflow (official)"

on:
  push:
    branches: [main, master]
  pull_request:
  workflow_dispatch:

jobs:
  test-pyodide:
    uses: pyodide/pytest-pyodide/.github/workflows/main.yaml@main
    with:
      python-version: "3.13"
      pyodide-version: "0.26.4"
      runner: "node"
      browser: "node"
